name: Go Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.23.2

      - name: Install dependencies
        run: go mod download

      - name: Cache Go modules
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Clone docker-elk repository
        run: git clone https://github.com/deviantony/docker-elk.git

      - name: Set up Docker environment
        working-directory: docker-elk
        run: docker compose up setup

      - name: Start Docker environment
        working-directory: docker-elk
        run: docker compose up -d

      - name: Run tests
        run: go test ./... -v

      - name: Lint the code
        run: |
          go install golang.org/x/lint/golint@latest
          golint ./... | tee lint-report.txt
